:root {
    /* Colors: */
    --dark-orange-color: #FF9B0D;
    --spotify-green: #1db954;
    --spotify-black: #191414;
    --spotify-dark-green: #0b9b3d;
    --playlist-backdrop-gray: #333;
    --playlist-hover-gray: #555;
    --testing: #193633;
    --testing-hover: #63827F;
}